<?xml version="1.0" encoding="windows-1251" ?>
<KUAP_Helper>
    <Mongo>
        <Connection>
            <Host>MongoDBHost</Host>
            <Port>27017</Port>
        </Connection>
        <Database>
            <Name>database</Name>
            <Collection>
		<Name>DepositRate</Name>
            </Collection>
        </Database>
    </Mongo>
    <Rates>
	<CurrenciesList>
		<Currency>
			<Name>Доллары США</Name>
			<Code>USD</Code>
		</Currency>
		<Currency>
			<Name>Рубли РФ</Name>
			<Code>RUB</Code>
		</Currency>
		<Currency>
			<Name>Евро</Name>
			<Code>EUR</Code>
		</Currency>
	</CurrenciesList>
	<ProductsList>
		<Product>
			<Name>Неснижаемый</Name>
			<Code>DNS</Code>
		</Product>
		<Product>
			<Name>Фактический</Name>
			<Code>DFO</Code>
		</Product>
		<Product>
			<Name>Стабильный</Name>
			<Code>DST</Code>
		</Product>
		<Product>
			<Name>Динамичный</Name>
			<Code>DDN</Code>
		</Product>
		<Product>
			<Name>Удобный</Name>
			<Code>DUD</Code>
		</Product>
		<Product>
			<Name>Оперативный</Name>
			<Code>DOP</Code>
		</Product>
		<Product>
			<Name>Гарантийный</Name>
			<Code>DGR</Code>
		</Product>
		<Product>
			<Name>Фонд кап ремонта</Name>
			<Code>DKR</Code>
		</Product>
		<Product>
			<Name>СРО</Name>
			<Code>DSR</Code>
		</Product>
	</ProductsList>
	<TermsList>
		<Term>
			<Name>1-7</Name>
			<Code>1D</Code>
		</Term>
		<Term>
			<Name>8-14</Name>
			<Code>1W</Code>
		</Term>
		<Term>
			<Name>15-30</Name>
			<Code>4W</Code>
		</Term>
		<Term>
			<Name>31-59</Name>
			<Code>1M</Code>
		</Term>
		<Term>
			<Name>60-89</Name>
			<Code>2M</Code>
		</Term>
		<Term>
			<Name>90-119</Name>
			<Code>3M</Code>
		</Term>
		<Term>
			<Name>120-149</Name>
			<Code>4M</Code>
		</Term>
		<Term>
			<Name>150-179</Name>
			<Code>5M</Code>
		</Term>
		<Term>
			<Name>180-209</Name>
			<Code>6M</Code>
		</Term>
		<Term>
			<Name>210-239</Name>
			<Code>7M</Code>
		</Term>
		<Term>
			<Name>240-269</Name>
			<Code>8M</Code>
		</Term>
		<Term>
			<Name>270-299</Name>
			<Code>9M</Code>
		</Term>
		<Term>
			<Name>300-329</Name>
			<Code>10M</Code>
		</Term>
		<Term>
			<Name>330-364</Name>
			<Code>11M</Code>
		</Term>
		<Term>
			<Name>365</Name>
			<Code>12M</Code>
		</Term>
		<Term>
			<Name>365-366</Name>
			<Code>12M</Code>
		</Term>
		<Term>
			<Name>365-395</Name>
			<Code>12M</Code>
		</Term>
		<Term>
			<Name>396-425</Name>
			<Code>13M</Code>
		</Term>
		<Term>
			<Name>426-455</Name>
			<Code>14M</Code>
		</Term>
		<Term>
			<Name>456-485</Name>
			<Code>15M</Code>
		</Term>
		<Term>
			<Name>486-515</Name>
			<Code>16M</Code>
		</Term>
		<Term>
			<Name>516-547</Name>
			<Code>17M</Code>
		</Term>
		<Term>
			<Name>548-577</Name>
			<Code>18M</Code>
		</Term>
		<Term>
			<Name>578-607</Name>
			<Code>19M</Code>
		</Term>
		<Term>
			<Name>608-637</Name>
			<Code>20M</Code>
		</Term>
		<Term>
			<Name>638-667</Name>
			<Code>21M</Code>
		</Term>
		<Term>
			<Name>668-697</Name>
			<Code>22M</Code>
		</Term>
		<Term>
			<Name>698-729</Name>
			<Code>23M</Code>
		</Term>
		<Term>
			<Name>730</Name>
			<Code>24M</Code>
		</Term>
		<Term>
			<Name>730-759</Name>
			<Code>24M</Code>
		</Term>
		<Term>
			<Name>760-789</Name>
			<Code>25M</Code>
		</Term>
		<Term>
			<Name>790-819</Name>
			<Code>26M</Code>
		</Term>
		<Term>
			<Name>820-849</Name>
			<Code>27M</Code>
		</Term>
		<Term>
			<Name>850-879</Name>
			<Code>28M</Code>
		</Term>
		<Term>
			<Name>880-909</Name>
			<Code>29M</Code>
		</Term>
		<Term>
			<Name>910-939</Name>
			<Code>30M</Code>
		</Term>
		<Term>
			<Name>940-969</Name>
			<Code>31M</Code>
		</Term>
		<Term>
			<Name>970-999</Name>
			<Code>32M</Code>
		</Term>
		<Term>
			<Name>1000-1029</Name>
			<Code>33M</Code>
		</Term>
		<Term>
			<Name>1030-1059</Name>
			<Code>34M</Code>
		</Term>
		<Term>
			<Name>1060-1094</Name>
			<Code>35M</Code>
		</Term>
		<Term>
			<Name>1095</Name>
			<Code>36M</Code>
		</Term>
	</TermsList>
    </Rates>
    <Parse>
        <XLSX>
            <File>
		<Type>Остатки</Type>
                <Pattern>*Ставки на остатки*</Pattern>
                <FileOption>
			<Sheet>
				<NamePattern>*МНО ЮЛ*</NamePattern>
				<ClientType>ЮЛ</ClientType>
				<ProductCode>DNS</ProductCode>
			</Sheet>
			<Sheet>
				<NamePattern>*МНО ИП*</NamePattern>
				<ClientType>ФЛ</ClientType>
				<ProductCode>DNS</ProductCode>
			</Sheet>
			<Sheet>
				<NamePattern>*Префикс ЮЛ*</NamePattern>
				<ClientType>ЮЛ</ClientType>
				<ProductCode>DFO</ProductCode>
			</Sheet>
			<Sheet>
				<NamePattern>*Префикс ИП*</NamePattern>
				<ClientType>ФЛ</ClientType>
				<ProductCode>DFO</ProductCode>
			</Sheet>
		</FileOption>
            </File>
            <File>
		<Type>Депозиты ЮЛ</Type>
                <Pattern>*Депозитные ставки ЮЛ*</Pattern>
                <FileOption>
			<Sheet>
				<NamePattern>*Стабильный (Приложение*</NamePattern>
				<ClientType>ЮЛ</ClientType>
				<ProductCode>DST</ProductCode>
			</Sheet>
			<Sheet>
				<NamePattern>*Динамичный (Приложение*</NamePattern>
				<ClientType>ЮЛ</ClientType>
				<ProductCode>DDN</ProductCode>
			</Sheet>
			<Sheet>
				<NamePattern>*Удобный (Приложение*</NamePattern>
				<ClientType>ЮЛ</ClientType>
				<ProductCode>DUD</ProductCode>
			</Sheet>
			<Sheet>
				<NamePattern>*Оперативный (Приложение*</NamePattern>
				<ClientType>ЮЛ</ClientType>
				<ProductCode>DOP</ProductCode>
			</Sheet>
			<Sheet>
				<NamePattern>*Гарантийный (Приложение*</NamePattern>
				<ClientType>ЮЛ</ClientType>
				<ProductCode>DGR</ProductCode>
			</Sheet>
			<Sheet>
				<NamePattern>*Фонд кап ремонта (Приложение*</NamePattern>
				<ClientType>ЮЛ</ClientType>
				<ProductCode>DKR</ProductCode>
			</Sheet>
			<Sheet>
				<NamePattern>*СРО (Приложение*</NamePattern>
				<ClientType>ЮЛ</ClientType>
				<ProductCode>DSR</ProductCode>
			</Sheet>
		</FileOption>
            </File>
            <File>
		<Type>Депозиты ФЛ</Type>
                <Pattern>*Депозитные ставки ИП*</Pattern>
                                <FileOption>
			<Sheet>
				<NamePattern>*Стабильный (Приложение*</NamePattern>
				<ClientType>ФЛ</ClientType>
				<ProductCode>DST</ProductCode>
			</Sheet>
			<Sheet>
				<NamePattern>*Динамичный (Приложение*</NamePattern>
				<ClientType>ФЛ</ClientType>
				<ProductCode>DDN</ProductCode>
			</Sheet>
			<Sheet>
				<NamePattern>*Удобный (Приложение*</NamePattern>
				<ClientType>ФЛ</ClientType>
				<ProductCode>DUD</ProductCode>
			</Sheet>
			<Sheet>
				<NamePattern>*Оперативный (Приложение*</NamePattern>
				<ClientType>ФЛ</ClientType>
				<ProductCode>DOP</ProductCode>
			</Sheet>
			<Sheet>
				<NamePattern>*Гарантийный (Приложение*</NamePattern>
				<ClientType>ФЛ</ClientType>
				<ProductCode>DGR</ProductCode>
			</Sheet>
			<Sheet>
				<NamePattern>*Фонд кап ремонта (Приложение*</NamePattern>
				<ClientType>ФЛ</ClientType>
				<ProductCode>DKR</ProductCode>
			</Sheet>
			<Sheet>
				<NamePattern>*СРО (Приложение*</NamePattern>
				<ClientType>ФЛ</ClientType>
				<ProductCode>DSR</ProductCode>
			</Sheet>
		</FileOption>
            </File>
        </XLSX>
    </Parse>
    <ApplicationOption>
	<LogLevel>DEBUG</LogLevel>
	<LogType>ONE</LogType>
	<ImportMode>FULL</ImportMode>
	<BackupCollection>TRUE</BackupCollection>
	<EnableReporting>TRUE</EnableReporting>
    </ApplicationOption>
    <AutoMode>
	<RestartService>AudioSrv</RestartService>
	<ScanDirectory>\\directory1;\\directory2</ScanDirectory>
	<ScanFilter>*Ставки на остатки*.xlsx;*Депозитные ставки ЮЛ*.xlsx;*Депозитные ставки ИП*.xlsx</ScanFilter>
	<ScanFrequency>60000</ScanFrequency>
	<ScanWindowPosition>RightBottom</ScanWindowPosition>
	<ScanWindowOpacity>50</ScanWindowOpacity>
	<ExtendedLoggingForScanComparison>FALSE</ExtendedLoggingForScanComparison>
    </AutoMode>
    <ReportingOption>
	<SmtpServer>SMTPServerHost</SmtpServer>
	<Port></Port>
	<From>KirillPashkov@yandex.ru</From>
	<Username></Username>
	<Password></Password>
	<To>KirillPashkov@yandex.ru</To>
	<Cc>KirillPashkov@yandex.ru</Cc>
	<Bcc>KirillPashkov@yandex.ru</Bcc>
	<Subject>Результаты загрузки депозитных ставок</Subject>
	<Priority>High</Priority>
	<Encoding>UTF8</Encoding>
    </ReportingOption>
</KUAP_Helper>
